body {
  min-width: 900px;
}

.bst-header {
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.bst-header-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 64px;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.3s;
}

.bst-menu-trigger {
  float: left;
  padding: 0 24px;
  font-size: 20px !important;
  line-height: 64px;
  cursor: pointer;
}

.bst-menu-trigger:hover {
  background-color: rgba(0, 0, 0, 0.025);
}

.bst-sider-menu {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}
